:root{
	--Bright_Red: hsl(12, 88%, 59%);
	--Dark_Blue: hsl(228, 39%, 23%);

	--Dark_Grayish_Blue: hsl(227, 12%, 61%);
	--Very_Dark_Blue: hsl(233, 12%, 13%);
	--Very_Pale_Red: hsl(13, 100%, 96%);
	--Vary_Light_Gray: hsl(0, 0%, 98%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
	font-family: Be Vietnam, sans-serif;
}	
figure{
	margin: 0;
}
.wrapper{
	width: 90%;
	margin: auto;
}

/*             Reutilizables           */
.btn{
	padding: 10px 20px;
	border: none;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
	font-size: 14px;
	background:  var(--Bright_Red);
}
.btn:hover{
	box-shadow: 0px 0px 5px 0px  hsl(12, 88%, 59%);
}

/*             Reutilizables           */
/*              Header            */
.hero{
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 80px;
}
.hero__img{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-menu__link{
	text-decoration: none;
	color: #000;
	padding: 10px;
	font-weight: normal;
}
.main-menu__link:hover{
	color: var(--Dark_Grayish_Blue);
}

/*              Header            */

/*              Section Welcome            */
.welcome{
	display: flex;
	align-items: center;
}
.welcome__box-text,
.welcome__box-img{
	width: 50%;
}
.welcome__title{
	font-size: 40px;
	color: var(--Dark_Blue)
}
.welcome__parrafo{
	color: var(--Dark_Grayish_Blue);
}

/*              Section Welcome            */