:root{
	--Bright_Red: hsl(12, 88%, 59%);
	--Dark_Blue: hsl(228, 39%, 23%);

	--Dark_Grayish_Blue: hsl(227, 12%, 61%);
	--Very_Dark_Blue: hsl(233, 12%, 13%);
	--Very_Pale_Red: hsl(13, 100%, 96%);
	--Vary_Light_Gray: hsl(0, 0%, 98%);
	--logo :#242D52;
}
body{
	font-family: Be Vietnam, sans-serif;
	background: url(../img/bg3.svg);
	background-position: right;
}	
figure{
	margin: 0;
}
.wrapper{
	width: 90%;
	margin: auto;
}
/*             Reutilizables           */
.btn{
	padding: 15px 30px;
	border: none;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-weight: bolder;
	font-size: 14px;
	background:  var(--Bright_Red);
	transition: all ease .5s;
}
.btn:hover{
	box-shadow: 0px 0px 5px 0px  hsl(12, 88%, 59%);
}

/*             Reutilizables           */
/*              Header            */
.hero{
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 80px;
}
.hero__img{
	margin-top: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-menu__link{
	text-decoration: none;
	color: #000;
	padding: 10px;
	font-weight: normal;
}
.main-menu__link:hover{
	color: var(--Dark_Grayish_Blue);
}

/*              Header            */

/*              Section Welcome            */
.welcome{
	display: flex;
	align-items: center;
}
.welcome__box-text,
.welcome__box-img{
	width: 50%;
}
.welcome__title{
	font-size: 40px;
	color: var(--Dark_Blue);
}
.welcome__parrafo{
	color: var(--Dark_Grayish_Blue);
}

/*              Section Welcome            */

/*              Section Services            */
.services{
	display: flex;
}
.services__box-text,
.services-points{
	width: 100%;
}
.services__title{
	text-align: justify-all;
	font-size: 40px;
	color: var(--Dark_Blue);
	padding-right: 20px;
}
.services__parrafo{
	text-align: justify;
	padding-right: 40px;
	color: var(--Dark_Grayish_Blue);
	line-height: 30px;
}
.services-points-box{
	display: flex;
	align-items: flex-start;
}
.services-points__number-point{
	margin-top: 32px;
	margin-right: 20px;
	padding: 10px 20px;
	background:  var(--Bright_Red);
	border-radius: 30px;
	color: #fff;
}
.services-points__title{
	margin-top: 32px;
	color: var(--Dark_Blue);
}
.services-points__text{
	color: var(--Dark_Grayish_Blue);
	text-align: justify;
	line-height: 30px;
}
/*              Section Services            */


/*              Section Experiences            */
.experiences{
	margin: 100px 0;
}
.experiences-box-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.experiences__title{
	text-align: center;
	color: var(--Dark_Blue);
	font-size: 40px;
	margin-bottom: 100px;
}
.experiences__card{
	max-width: 550px;
	width: 45%;
	background: var(--Vary_Light_Gray);
	border-radius: 7px;
	padding: 20px;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 60px;
}
.experiences__card-img{
	width: 80px;
	position: absolute;
	top:-40px;
	object-fit: cover;
}
.experiences__card-title{
	text-align: center;
	margin-top: 40px;
	color: var(--Dark_Blue);
}
.experiences__card-text{
	text-align: justify-all;
	color: var(--Dark_Grayish_Blue);
}
.experiences__btn{
	display: block;
	margin: auto;
}
/*              Section Experiences            */


/*              Publicidad            */
.publicidad{
	background: var(--Bright_Red);
	padding: 30px 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.publicidad__text{
	text-align: justify-all;
	color: #fff;
	font-size: 40px;
	width: 50%;
}
.publicidad__btn{
	background: var(--Vary_Light_Gray);
	color: var(--Bright_Red);
}
.publicidad__btn:hover{
	box-shadow: 0px 0px 10px 0px var(--Vary_Light_Gray);
}

/*              Publicidad            */

/*              FOOTER            */
footer{
	display: flex;
	align-items: center;
	justify-content: space-around;

	padding: 50px 0;
	background: var(--Dark_Blue);
}
.footer-box-enlaces{
	display: flex;
}
.footer-enlaces{
	margin-right: 40px;
}
.footer-social{
	display: flex;
	flex-direction: column;
}
.footer-social__icon{
	margin-left: 5px;
}
.footer-social__box-img{
	margin-bottom: 80px;
}
.footer-social__icon:hover{
	color: var(--Bright_Red);
}
.footer-enlaces-2{
	margin-bottom: 30px;
}
.footer-enlaces__link{
	display: block;
	margin-bottom: 15px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	transition: all ease .5s;
}
.footer-enlaces__link:hover{
	color: var(--Bright_Red);
}
.footer__form-input{
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
	border:2px solid transparent;
	transition: all ease .5s;
	color: gray;
	font-size: 14px;
}
.footer__form-input:focus{
	border: 2px solid var(--Bright_Red);
}
.footer__form-btn{
	margin-left: 10px;
	font-size: 14px;
}
.footer__form-text{
	margin-top: 70px;
	color: var(--Dark_Grayish_Blue);
	font-size: 14px;
	text-align: center;
}
/*              FOOTER            */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }







































































































